@page "/about"

<p>PietSharp is an implementation of the Piet esolang written in C#.  This site runs a the core interpreter all as client-side Blazor</p>

<p>
    The source for PietSharp is available on GitHub - <a href="https://github.com/MatthewMooreZA/PietSharp">link</a>
</p>

<p>
    PietSharp was created by Matthew Moore.  You can reach me on Twitter <a href="https://twitter.com/MatthewMooreZA">@@MatthewMooreZA</a>
</p>