@page "/"

<h1>PietSharp</h1>

<p>
    Welcome to my .NET implementation of the esoteric language Piet.  Piet was dreamed up by David Morgan-Mar, check out his page on Piet <a href="https://www.dangermouse.net/esoteric/piet.html" target="_blank">here</a>.
</p>

<p>
    This is still under active construction.  For now I have my implementation of Piet running <a href="/interpreter">here</a>.  This entire page is powered by client-side Blazor, as such the entire interpreter is running as C# in your browser...pretty cool right?
</p>
